<!-- This is the home page template -->
<h1>Welcome to my website!</h1>
<p>This is a simple home page that uses the Handlebars engine template.</p>
<p>My name is {{name}} and I live in {{address.city}}, {{address.country}}.</p>
<ul>
    <!-- This is a built-in helper that iterates over an array -->
    {{#each hobbies}}
    <li>{{this}}</li>
    {{/each}}
</ul>